/* Daily View settings */
.daily-view-modal {
    border: 1px solid #3a405a;
    box-shadow: 10px 10px 24px;
}

.daily-view-modal .modal-dialog {
    max-width: 800px;
}

.daily-view-modal .modal-content {
    transition: all 0.3s ease;
    background-color: #0a6847;
}

.modal-backdrop {
    opacity: 0.75 !important;
    transition: opacity 0.3s ease-in-out;
}

.daily-view-title {
    color: #f3ca52;
    text-shadow: 10px 2px 8px #3a405a;
}

.daily-view-body {
    background-color: #f6e9b2;
    text-align: center;
}

.daily-view-body h3 {
    color: #0a6847;
    font-weight: 500;
    text-shadow: 2px 2px 8px #7aba78;
}


/* Add task alert */
.daily-view-alert {
    background-color: #a4cea1;
}

.new-todo-button {
    background-color: #f3ca52; 
    color: #3a405a;
    border: 1px solid #3a405a;
    box-shadow: 10px 10px 24px #3a405a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.new-todo-button:hover {
    transform: scale(1.06);
    background-color: #3a405a;
    color: #f3ca52;
    box-shadow: 2px 8px 30px #7aba78; 
}

/* Task list */
.task-lists-container {
    display: flex;
    gap: 20px;
}

.task-list {
    flex: 1;
}

.task-list-incomplete {
    background-color: #f6e9b2;
    color: #3a405a;
    border: 2px solid #880d1e;
}

.task-list-complete {
    background-color: #f6e9b2;
    color: #3a405a;
    border: 2px solid #7aba78;
}

.drag-and-drop-item {
    background-color: #f3f3e7;
    color: #3a405a;
}

.task-incomplete h5{
    font-weight: bold;
}

.task-complete {
    text-decoration: line-through;
}

.task-update-form-control {
    background-color: #f3f3e7;
    color: #3a405a;
}

.save-button {
    color: #3a405a;
    background-color: #f3ca52;
    border: 1px solid #3a405a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.save-button:hover {
    transform: scale(1.06);
    background-color: #3a405a;
    color: #f3ca52;
    box-shadow: 2px 8px 30px #7aba78;
}

.close-button {
    color: #3a405a;
}