body, html {
    margin: 0;
    padding: 0;
    background-color: #f6e9b2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-container {
    max-width: 1200px;
    width: 100%;
    background-color: #7aba78;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .app-container {
        margin: 0 20px;
    }
}

/* Daily task displaying carousel */
.carousel-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #3a405a;
    text-shadow: #3a405a;
    background-color: #f6e9b2;
    width: 70%;
    margin: auto;
    padding: 0.5rem 1rem;
    box-shadow: 10px 10px 24px;
}

.position-absolute {
    z-index: 100;
    color: #3a405a;
    text-shadow: #f6e9b2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.position-absolute:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px;
}


/* Add task modal */
.add-task-modal {
    border: 1px solid #3a405a;
}

.add-task-modal .modal-dialog {
    max-width: 600px;
}

.add-task-modal .modal-content {
    transition: all 0.3s ease;
    background-color: #f6e9b2;
}

.modal-backdrop {
    opacity: 0.75 !important;
    transition: opacity 0.3s ease-in-out;
}

.add-task-header {
    color: #0a6847;
    text-shadow: 2px 2px 8px #3a405a;
}

.add-task-body {
    background-color: #7aba78 !important;
    box-shadow: 10px 10px 24px;
}

.add-task-form .form-label{
    color: #3a405a;
    font-size: large;
    font-weight: bold;
    text-shadow: 10px 2px 16px #3a405a;
}

.add-task-form .form-control {
    background-color: #f3f3e7;
    border: 2px solid #3a405a;
    color: #3a405a;
    font-size: large;
    transition: border-color 0.3 ease, box-shadow 0.3 ease;
}

.add-task-form .form-control:focus {
    border-color: #586189;
    box-shadow: 0 0 10px #3a405a;
}

.add-task-button {
    background-color: #3a405a;
    color: #f3ca52;
    font-weight: bold;
    border: #3a405a;
    box-shadow: 10px 10px 24px #3a405a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add-task-button:hover {
    transform: scale(1.06);
    background-color: #f3ca52;
    color: #3a405a;
    box-shadow: 10px 12px 24px #7aba78;
}